@font-face {
  font-family: 'Freakshow';
    src: url(fonts/Carnevalee-Freakshow.ttf) format("truetype");
}

@font-face {
  font-family: 'FellType';
    src: url(fonts/HistoricalFellTypeRoman.ttf) format("truetype");
}

body
  background-color: #f2e5ca
  border: 1.15em solid black
  border-radius: 0.25em
  border-style: double outset
  height: 100vh
  margin: 0 auto
  width: 100vh

  /*---------- Main Container ---------- */

  /*---------- Top Third ---------- */

    /*---------- Nav ---------- */

    .nav-ul
      display: inline-block
      font-family: 'FellType'
      list-style-type: none

    /*---------- Headline ---------- */

    /*---------- Name ---------- */

  /*---------- Middle Third ---------- */

  /*---------- Bottom Third ---------- */
