/* ===== Boilerplate taken from @gokulkrishh ===== */




/*
  ##Device = Desktops
  ##Screen = 1281px/89vw to higher resolution desktops
*/

@media (min-width: 1281px) {

  body {
    background-color: red;
    width: auto;
  }

}




/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  body {
    background-color: orange;
    width: auto;
  }

}




/*
  ##Device = Tablets, iPads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  body {
    background-color: yellow;
    width: auto;
  }


}




/*
  ##Device = Tablets, iPads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  body {
    background-color: green;
    width: auto;
  }


}




/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  body {
    background-color: turquoise;
    width: auto;
  }


}




/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  body {
    background-color: purple;
    height: auto;
    width: auto;
  }

  .main-container {
    height: auto;
    width: auto;
  }

      .nav-ul {
        display: block;
      }

      li {
        float: left;
        padding: 1em;
        text-align: center;
      }

  .name {
    background-color: turquoise;
    font-family: 'Freakshow';
    font-size: 2.75em;
    margin-top: 1em;
    padding: 1.15em;
    text-align: center;
    transform: rotateZ(-14deg);
  }

  .headline {
    background-color: orange;
    font-size: 1.75em;
    padding: 1em;
    text-align: right;
  }

    .middle-third {
      display: flex;
      justify-content: space-around;
    }

    .about {
      background-color: pink;
      padding: 0 1em 0 1em;
      width: 40%;
    }

    .my-face {
      background-color: turquoise;
      height: 12.5vh;
      margin: 20% 1.5em 0 0;
      width: 15vw;
    }

  .tech {
    background-color: turquoise;
  }

  .tech ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
  }

  .text {
    font-size: 1.1em;
  }

  .tech img {
    display: block;
    flex-wrap: wrap;
    height: 90px;
    width: 90px;
  }

    .projects-cont {
      background-color: orange;
    }

    .projects-cont li {
      list-style-type: none;
    }

    .project-text {
      background-color: turquoise;
      font-size: 1.3em;
    }

    .projects-cont img {
      height: 50vh;
      width: 70vw;
    }

}
