@font-face
  font-family: "Freakshow"
  src: url("styles/fonts/Carnevalee-Freakshow.ttf") format('truetype')
  // src:
  // url("fonts/Freakshow.woff") format("woff"),
  // url("fonts/Freakshow.otf") format("opentype"),
  // url("fonts/Freakshow.svg#filename") format("svg")

  @font-face
    font-family: "FellType"
    src: url("styles/fonts/HistoricalFellTypeRoman.ttf") format('truetype')



body
  background-color: #f2e5ca
  border: 1.15em solid black
  border-radius: 0.2em
  border-style: double outset
  font-family: 'FellType'
  height: auto
  margin: 0 auto
  width: auto

  /*---------- Main Container ---------- */

  /*---------- Top Third ---------- */

  .name
    font-family: 'Freakshow'

    /*---------- Nav ---------- */

    .nav-ul
      display: inline-block
      font-family: 'FellType'
      list-style-type: none

    /*---------- Headline ---------- */

    /*---------- Name ---------- */

  /*---------- Middle Third ---------- */

  /*---------- Bottom Third ---------- */
