





body
  // background-image: url('https://i.imgur.com/iiLjczV.png')
  // background-repeat: repeat
  // font-family: 'Vollkorn', serif
  // font-style: normal
  font-family: 'Damion', cursive
  font-weight: 300
  margin: 0
  padding: 0
  // height: 0 auto
  // width: 0 auto

  /*---------- Main Container ---------- */

.main-container
  margin: 0 auto

/*---------- Nav ---------- */

.nav-ul
  background-color: turquoise
  display: inline-block
  list-style-type: none
  text-decoration: underline


  /*---------- Top Third ---------- */

.name-span, .headline-span, .line-one, .line-three
  font-family: 'Yellowtail', cursive

.name-span
  color: turquoise
  text-shadow: 4px 2.5px 2.5px black

// .top-third
//   border: 15px solid black
//   border-left: none
//   border-right: none
//   border-top: none




    /*---------- Headline ---------- */

    /*---------- Name ---------- */

  /*---------- Middle Third ---------- */

.middle-third
  border: 15px solid black
  border-left: none
  border-right: none
  border-top: none

.about
  transform: skewX(5deg)

.about p
  border: 20px double black
  border-radius: 0.5em

.tech-list li:hover
  color: turquoise




  /*---------- Bottom Third ---------- */

.tech-list, .projects-cont
  border-bottom: 15px double turquoise

.projects-cont img
  border: 15px double turquoise
  border-radius: 1.25em
  transform: skewX(1.5deg)

.wizard:hover
  background: url('images\pcwizard0.png')

.footer-ul li
  transform: skewX(5deg)

.footer-ul li a
  color: black

.footer-ul li a:hover
  color: turquoise

.copy-p
  background-color: turquoise
  border-top: 15px double yellow
