





body
  background-image: url('https://i.imgur.com/iiLjczV.png')
  background-repeat: repeat
  border: 35px double #4F4033
  border-bottom: none
  border-left: none
  border-right: none
  font-family: 'Vollkorn', serif
  font-style: normal
  font-weight: 300
  margin: 0
  padding: 0
  // height: 0 auto
  // width: 0 auto

  /*---------- Main Container ---------- */




  /*---------- Top Third ---------- */

.name-span, .headline-span, .line-one, .line-three
  font-family: 'Diplomata', cursive

// .top-third
//   border: 15px solid black
//   border-left: none
//   border-right: none
//   border-top: none



  /*---------- Nav ---------- */

.nav-ul
  display: inline-block
  list-style-type: none
  text-decoration: underline

    /*---------- Headline ---------- */

    /*---------- Name ---------- */

  /*---------- Middle Third ---------- */

.middle-third
  border: 15px solid black
  border-left: none
  border-right: none
  border-top: none




  /*---------- Bottom Third ---------- */

.tech-list
  border: 15px solid black
  border-left: none
  border-right: none
  border-top: none

.wizard:hover
  background: url('images\pcwizard0.png')

.projects-cont
  border: 15px solid black
  border-left: none
  border-right: none
  border-top: none

.footer-ul li a
  color: black

.footer-ul li a:hover
  color: red
