/* @font-face {
	font-family: 'Freakshow';
	src: url('Carnevalee-Freakshow.eot?#iefix') format('embedded-opentype'),
	     url('Carnevalee-Freakshow.woff') format('woff'),
	     url('Carnevalee-Freakshow.ttf')  format('truetype'),
	     url('Carnevalee-Freakshow.svg#svgFontName') format('svg');
	} */

  @font-face {
  font-family: 'Carnevalee-Freakshow';
  src:
       url('/Users/haley/Documents/fonts/Freakshow/carnivalee-freakshow 2/Carnevalee Freakshow/Carnevalee Freakshow.ttf');
   font-style: normal;
    font-weight: normal;
}


body {
  background-color: #f2e5ca;
  border: 1.15em solid #000;
  border-radius: 0.2em;
  border-style: double outset;
  font-family: 'FellType';
  height: auto;
  margin: 0 auto;
  width: auto;
/*---------- Main Container ---------- */
/*---------- Top Third ---------- */
/*---------- Middle Third ---------- */
/*---------- Bottom Third ---------- */
}
body .name {
  font-family: 'Freakshow';
/*---------- Nav ---------- */
/*---------- Headline ---------- */
/*---------- Name ---------- */
}
body .name .nav-ul {
  display: inline-block;
  font-family: 'FellType';
  list-style-type: none;
}
