body {
  background-image: url("styles/art/vintage-concrete.png");
  background-repeat: repeat;
  font-family: 'Vollkorn', serif;
  font-style: normal;
  font-weight: 300;
  height: auto;
  margin: 0 auto;
/*---------- Main Container ---------- */
/*---------- Top Third ---------- */
}
.name-span,
.headline-span {
  font-family: 'Diplomata', cursive;
/*---------- Nav ---------- */
}
.nav-ul {
  display: inline-block;
  list-style-type: none;
/*---------- Headline ---------- */
/*---------- Name ---------- */
}
/*---------- Middle Third ---------- */
/*---------- Bottom Third ---------- */
.wiz:hover {
  background: url("images\pcwizard0.png");
}
