




/*
  ##Device = Desktops
  ##Screen = 1281px/89vw to higher resolution desktops
*/

@media (min-width: 1281px) {

  body {
    background-color: red;
    width: auto;
  }

}




/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

  body {
    background-color: orange;
    width: auto;
  }

}




/*
  ##Device = Tablets, iPads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {

  body {
    background-color: yellow;
    width: auto;
  }


}




/*
  ##Device = Tablets, iPads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

  body {
    background-color: green;
    width: auto;
  }


}




/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {

  body { margin: 0 auto; width: 300vw; }

  /* --- */

  .nav-ul { display: flex; justify-content: center; }

  .nav-ul li { font-size: 4.3em; list-style-type: none; padding: 1em; text-align: center; }

  /* --- */

  .name { margin-left: 22em; margin-top: 1.5em; position: absolute; width: auto; }

  .name-span { font-size: 9.15em; position: relative; right: 0.38em; text-align: center; top: 2em; white-space: nowrap; width: 340vw; }

  .headline { margin-left: 40em; margin-top: 16em; position: absolute; text-transform: uppercase; }

  .headline-span { font-size: 6.25em; position: relative; right: 3em; text-align: center; top: 2.75em; white-space: nowrap; }



  .detail { display: flex; font-size: 5.25em; padding: 4em; position: relative; text-align: center; }

  /* --- */

  .middle-third { display: flex; justify-content: space-around; margin-top: 15em; }

  .about { float: left; width: 52%; }

  .about p { border: 27px double black; font-size: 3em; margin-top: 25em; padding: 0 1em 0 1em; }

  .my-face { background-color: pink; float: right; height: 450px; margin-top: 75em; margin-bottom: 10em; width: 450px; }

  .tech { display: flex; flex-direction: column; padding: 0 15em 0 15em; }

  .tech p { font-size: 5em; text-align: center; text-decoration: underline; }

  .tech ul { display: flex; flex-wrap: wrap; list-style-type: none; }

  .text { font-size: 4.75em; text-align: center; }

  .tech img { display: block; flex-wrap: wrap; height: 50vh; padding: 0.83em; width: 52vw; }

  .projects-cont { margin-right: 2.8em; margin-top: 5em; }

  .projects-span { font-size: 6em; left: 50%; text-align: center; text-decoration: underline; }

  .projects-cont li { list-style-type: none; margin-left: 2%; }

  .projects-cont img { border: 30px double black; height: auto; width: 100%; }

  .project-text { font-size: 5.3em; padding-bottom: 1em; text-align: center; }

  /* --- */

  .footer { align-items: center; display: flex; justify-content: center; margin: 6em 0 1em 0; }

  .footer-ul { display: flex; flex-wrap: wrap; justify-content: center; max-width: 70%; }

  .footer-ul li { display: flex; font-size: 3.8em; justify-content: space-between; list-style-type: none; padding: 0.35em; }

  .footer-ul li a { color: black; }

  .footer-ul li a:hover { color: turquoise; }

  .footer-ul img { height: 80px; padding: 0 0.2em 0 0; width: 80px; }

  /* --- */

  .copy-p { float: right; font-size: 4.14em; margin-left: 40%; margin-top: 2.5em; text-align: center; width: 100%; }

}






/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

 body { margin: 0; padding: 0; }

  /* --- */

  .nav-ul { display: block; }

  .nav-ul li { float: left; list-style-type: none; padding: 1em; text-align: center; }

  /* --- */

  .intro { float: left; font-size: 1.25em; height: 11vh; margin: 3em 0 0 0; text-align: center; }

  .name { font-size: 2.75em; height: 35vh; padding: 0.3em; position: relative; text-align: center; }

  .name-span { position: absolute; text-align: center; right: 0.2em; top: 2em; }

  .headline { font-size: 1.75em; padding: 0.3em; text-align: center; }

  .detail { text-transform: uppercase; }

  /* --- */

  .middle-third { display: flex;  justify-content: space-around; }

  .about { border: 6px double black; margin-top: 1em; padding: 0 1em 0 1em;  width: 40%; }

  .my-face { background-color: gray; height: 12.5vh; margin: 20% 1.5em 0 0; width: 15vw; }

  /* --- */

  .tech p { font-size: 2em; text-align: center; text-decoration: underline; }

  .tech-list { display: flex; flex-wrap: wrap; justify-content: center; list-style-type: none; margin-right: 3em; }

  .text { font-size: 1.1em; text-align: center; }

  .tech img { display: block; flex-wrap: wrap; height: 90px; padding: 0.8em; width: 90px; }

  .projects-cont { margin-right: 2.8em; margin-top: 5em; }

  .projects-span { font-size: 2em; left: 50%; text-align: center; text-decoration: underline; }

  .projects-cont img { border: 6px double black; height: auto; width: 100%; }

  .projects-cont ul { height: auto; width: auto; }
  .projects-cont li { list-style-type: none; }
  .project-text { font-size: 1.3em; text-align: center; }

  /* --- */

  .footer { margin: 3em 0 0 0; }

  .footer-ul { display: flex; flex-wrap: wrap; justify-content: center; max-width: 70%; }

  .footer-ul li { justify-content: center; margin: 0.3em; list-style-type: none; }

  .footer-ul li a { color: black; }

  .footer-ul li a:hover { color: turquoise; }

  .footer-ul img { height: 20px; padding: 0.2em 0.2em 0 0; width: 20px; }

  /* --- */

  .copy-p { float: right; font-size: 1.14em; margin-top: 1.5em; text-align: center; }

}
